[*.{kt,kts}]
indent_size=4
insert_final_newline=true
ktlint_standard_no-wildcard-imports=disabled
ktlint_standard_when-entry-bracing = disabled
ktlint_standard_blank-line-between-when-conditions = disabled